md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 180px !important;
    width: 85vw !important;
    max-width: 180px !important;
}

md-toast.md-danger-toast-theme .md-toast-content {
    background-color: #CC0000;
}

md-toast.md-success-toast-theme .md-toast-content {
    background-color: #007E33;
}

md-toast.md-warning-toast-theme .md-toast-content {
    background-color: #FF8800;
}

#toolbar-app-logo {
    height: 24px;
    width: 24px;
}

#content {
    width: 100%;
    height: 100%;
}

.img-circle {
    border-radius: 50%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
