md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 180px !important;
    width: 85vw !important;
    max-width: 180px !important;
}

#toolbar-app-logo {
    height: 24px;
    width: 24px;
}

#content {
    width: 100%;
    height: 100%;
}

#ingredients, #recipesTable {
    border-collapse: collapse;
    width: 100%;
}

#ingredients td, #ingredients th, #recipesTable th {
    padding: 8px;
}

#ingredients tr:nth-child(even), #recipesTable tr:nth-child(even){
    background-color: #f2f2f2;
}

#ingredients tr:hover, #recipesTable tr:hover  {
    background-color: #ddd;
}

#ingredients th, #recipesTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ddd;
    color: #5a5a5a;
}

#newRecipe {
    background-color: lightgrey;
    margin: 0 auto;

}


.img-circle {
    border-radius: 50%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.inputdemoErrors .inputErrorsApp {
    min-height: 48px; }

.inputdemoErrors md-input-container > p {
    font-size: 0.8em;
    text-align: left;
    width: 100%; }

