md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 180px !important;
    width: 85vw !important;
    max-width: 180px !important;
}

md-toast.md-danger-toast-theme .md-toast-content {
    background-color: #CC0000;
}

md-toast.md-success-toast-theme .md-toast-content {
    background-color: #007E33;
}

md-toast.md-warning-toast-theme .md-toast-content {
    background-color: #FF8800;
}

#toolbar-app-logo {
    height: 24px;
    width: 24px;
}

#content {
    width: 100%;
    height: 100%;
}

#main-view {
    overflow-y: auto;
}

#footer {
    background-color: #F6F6F6;
}

.img-circle {
    border-radius: 50%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.card-button {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.card-button:hover {
    background-color: rgba(158, 158, 158, 0.2);
    transition: 0.3s;
}

.green-card-button:hover {
    background-color: rgba(0, 126, 51, 0.2);
    transition: 0.3s;
}

.red-card-button:hover {
    background-color: rgba(204, 0, 0, 0.2);
    transition: 0.3s;
}

.created-recipe-card {
    width: 50%;
}

@media (max-width: 959px) {
    .created-recipe-card {
        width: 100%;
    }
}

.fade-element.ng-hide {
    opacity: 0;
}

.fade-element.ng-hide-add,
.fade-element.ng-hide-remove {
    transition: all linear 0.3s;
}

.fade-element.ng-hide-add {
    display: none;
}

.green-tooltip {
    background-color: #007E33 !important;
}

.red-tooltip {
    background-color: #CC0000 !important;
}

.missing-ingredients-card {
    width: 50%;
    background-color: rgba(204, 0, 0, 0.2);
}

.md-headline{
    word-wrap:break-word;
}

.tooltip-multiline {
    height: auto;
}
