<div id="recipes" layout="column">
    <md-content layout-padding="" >

        <div ng-show="recipesCtrl.recipes.length > 0" layout-align="center">
            <table id="recipesTable">
                <tr>
                    <th>Recipe Name</th>
                    <th>Equipment Volume</th>
                    <th>Directions</th>
                    <th>Ingredients
                        <br>
                        Name / Quantity / Unity
                    </th>
                </tr>
                <tr ng-repeat="recipe in recipesCtrl.recipes | orderBy: 'recipe_id'">
                    <td>{{recipe.name}}</td>
                    <td>{{recipe.equipment_volume}}</td>
                    <td>{{recipe.directions}}</td>
                    <td>
                        <table id="ingredients">

                            <tr ng-repeat="ingredient in recipe.ingredients">
                                <td>{{ingredient.name}}</td>
                                <td>{{ingredient.quantity}}</td>
                                <td>{{ingredient.unit}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <br>

        <md-button class="md-primary" ui-sref="app.newRecipe">NEW RECIPE</md-button>
    </md-content>
</div>