<md-content layout-sm='column' layout-gt-sm='row' layout-align-gt-sm='center start' layout-padding layout-wrap>
    <!-- Show the perfect brew -->
    <md-card ng-show='recipesCtrl.whatShouldIBrew' ng-model='recipesCtrl.whatShouldIBrew' flex-sm flex-gt-sm='60'>
        <md-tooltip md-direction='right' class="tooltip-multiline green-tooltip">
            Based on the ingredients available in your inventory,
            <br>
            this is the perfect brew that you should do today.
        </md-tooltip>

        <md-card-title>
            <md-card-title-text layout='column' layout-align='start center'>
                <span class='md-headline'>{{recipesCtrl.whatShouldIBrew.name}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout='column' layout-align='center start'>
            <br>
            <p layout='row' >
                <md-icon class='md-48'>shopping_basket</md-icon>
                <md-card-content>
                    <span class='md-title'>Ingredients</span>
                </md-card-content>
            </p>
            <p layout='row' >
                <md-card-content>
               <span ng-repeat='ingredient in recipesCtrl.whatShouldIBrew.ingredients'>
               {{ingredient.toString()}}
               <br>
               </span>
                </md-card-content>
            </p>
            <p layout='row' >
                <md-icon class='md-48'>description</md-icon>
                <md-card-content>
                    <span class='md-title'>How to make</span>
                </md-card-content>
            </p>
            <p layout='row'>
                <md-card-content>
                    {{recipesCtrl.whatShouldIBrew.directions}}
                </md-card-content>
            </p>
            <p layout='row' >
                <md-icon class='md-48'>opacity</md-icon>
                <md-card-content>
                    <span class='md-title'>Equipment Volume</span>
                </md-card-content>
            </p>
            <p layout='row'>
                <md-card-content>
                    {{recipesCtrl.whatShouldIBrew.equipment.volume}} {{recipesCtrl.whatShouldIBrew.equipment.unit}}
                </md-card-content>
            </p>
        </md-card-content>
        <span layout='column' layout-align='center center'>
         <md-button class="md-raised md-primary" layout-align='center center'
                    ng-click='recipesCtrl.brew(recipesCtrl.whatShouldIBrew)'>
            Brew!
         </md-button>


      </span>
    </md-card>
    <!-- No brew available -->
    <md-card class='missing-ingredients-card' ng-show='!recipesCtrl.whatShouldIBrew' ng-model='recipesCtrl.whatShouldIBrew' flex-sm flex-gt-sm='60'>
        <md-card-title>
            <md-card-title-text layout='column' layout-align='start center'>
                <span class='md-body-2'>There is no brew available for you.</span>
                <p class='md-body-1'>Make sure that you have enough ingredients in your inventory to make some.</p>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</md-content>