<md-sidenav class='md-sidenav-left' md-component-id='side-menu' md-whiteframe='4'>
    <md-content layout-padding>
        <div layout='column' layout-align='center center'>
            <img alt='Profile picture' ng-src='{{$ctrl.user.picture}}'
                 class='img-circle img-responsive'>

            <h3 class='text-center' ng-bind='$ctrl.userName'></h3>
        </div>

        <md-divider></md-divider>

        <md-button ui-sref='app.recipes' class='md-raised md-hue-1 md-primary' layout-fill>Recipes</md-button>
        <br><br>
        <md-button ui-sref='app.recipe' class='md-raised md-hue-1 md-primary' layout-fill>New Recipe</md-button>
        <br><br>
        <md-button ui-sref='app.inventory' class='md-raised md-hue-1 md-primary' layout-fill>Inventory</md-button>
        <br><br>
        <md-button ui-sref='app.brews' class='md-raised md-hue-1 md-primary' layout-fill>Brews</md-button>
        <br><br>
        <md-button ui-sref='app.should-brew' class='md-raised md-hue-1 md-primary' layout-fill>What should I brew?</md-button>
        <br><br>

        <md-divider></md-divider>
    </md-content>
</md-sidenav>
